<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Asistencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-accordion-group>
    <ion-accordion *ngFor="let subject of getSubjects()">
      <ion-item slot="header" color="light">
        <ion-label>{{ subject }}</ion-label>
      </ion-item>
      <div slot="content">
        <ion-list>
          <ion-item *ngFor="let asistencia of asistenciasPorAsignatura[subject]">
            <ion-label>
              <h2>Fecha: {{ asistencia.fecha }}</h2>
              <p>Presente: {{ asistencia.presente ? 'Sí' : 'No' }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
