<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Asistencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">




  <ion-accordion-group>
    <ion-accordion *ngFor="let asignatura of asistenciasData" expand="true">
      <ion-item slot="header">
        <ion-label>{{ asignatura.nombre }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" *ngFor="let asistencia of asignatura.asistencias">
          <ion-list>
            <ion-item>
              <ion-label>Fecha: {{ asistencia.fecha }}</ion-label>
              <ion-label>Presente: {{ asistencia.presente ? 'Sí' : 'No' }}</ion-label>
            </ion-item>
          </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>

