<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Asistencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let asistencia of asistencias">
      <ion-label>Fecha: {{ asistencia.fecha }}</ion-label>
      <ion-label>Clase: {{ asistencia.subject }}</ion-label>
      <ion-label>Presente: {{ asistencia.presente ? 'Sí' : 'No' }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
