<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
    <ion-item class="ion-margin-vertical">
      <ion-input type="text" [(ngModel)]="oldPassword" required label="Contraseña Actual"
        labelPlacement="floating" helperText="" errorText=""></ion-input>
    </ion-item>
  
  <ion-item class="ion-margin-vertical">
    <ion-input [type]="passwordType1" [(ngModel)]="newPassword" required label="Nueva Contraseña"
      labelPlacement="floating" helperText="" errorText=""></ion-input>
    <ion-icon slot="end" [name]="passwordIcon1" (click)="togglePasswordVisibility1()"></ion-icon>
  </ion-item>

  <ion-item class="ion-margin-vertical">
    <ion-input [type]="passwordType" [(ngModel)]="confirmPassword" required label="Confirmar Nueva Contraseña"
      labelPlacement="floating" helperText="" errorText=""></ion-input>
    <ion-icon slot="end" [name]="passwordIcon" (click)="togglePasswordVisibility()"></ion-icon>
  </ion-item>

  <ion-button expand="full" (click)="changePassword()" color="warning">Cambiar Contraseña</ion-button>
</ion-content>