<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="dark">
  <div style="text-align: center;">
    <ion-text>
      <h6>Escanea el QR de la clase para marcar tu asistencia</h6>
    </ion-text>

    <br><br>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <img src="../assets/scan-qr.webp" alt="qr">
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
    </ion-grid>

    <br><br>
    <ion-button class="submit" color="warning" (click)="startScan()">
      <ion-icon slot="end" name="scan-outline"></ion-icon>
      Escanear QR
    </ion-button>

    <ion-item class="result" *ngIf="message" lines="none">
      <ion-label>
        <p>{{ message }}</p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
