// Para cuando el escaneo esté activo, ocultar la interfaz principal
body.barcode-scanning-active {
    visibility: hidden;
    --background: transparent;
    --ion-background-color: transparent;
}

// Hacer visible el modal de escaneo
.barcode-scanning-modal {
    visibility: visible;
}

@media (prefers-color-scheme: dark) {
    body.barcode-scanning-active {
        visibility: hidden;
        --background: transparent;
        --ion-background-color: transparent;
    }
}
