<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <br><br>
  <ion-list>
    <ion-item color="warning">
      <ion-label>Codigo</ion-label>
      <ion-label>Sección</ion-label>
      <ion-label>Nombre</ion-label>
    </ion-item>
    <ion-item *ngFor="let asignatura of asignaturas">
      <ion-label>{{ asignatura.codigo | uppercase }}</ion-label>
      <ion-label>{{ asignatura.seccion | uppercase }}</ion-label>
      <ion-label>{{ asignatura.nombre | titlecase }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
